.detail-oeuvre{
	margin-top: 150px;
}

.detail-oeuvre .featurette-heading{
	margin-top: 40px !important;
}


.oeuvre-name{
	margin-top: 0 !important;
}

.detail-oeuvre .edit-btn{
	float: right;
	margin-top: -40px;
}

.nb-photos{
	float: right;
}