.detail-oeuvre{
	margin-top: 150px;
}

.detail-oeuvre a:hover{
	text-decoration: none;
}

.detail-oeuvre a:hover p{
	opacity: 0.8
}

.detail-oeuvre .featurette-heading{
	margin-top: 40px !important;
}


.oeuvre-name{
	margin-top: 0 !important;
}

.detail-oeuvre .edit-btn{
	float: right;
	margin-top: -40px;
}

.nb-photos{
	float: right;
}

.detail-oeuvre .auteur{
	width: 20%;
}