.add-artist-form{
	width: 70%;
	margin: 0 auto;
	margin-top: 60px;
}

.title-form{
	margin-top: 150px;
}

.add-artist-form button{
	width: 20%;
}

.add-artist-form input[type=text]{
	margin: 5px 0;
}
