<div class="detail-artist">
  <div class="row featurette row-detail">
    <div class="col-md-7">
      <h2 class="featurette-heading artist-name"><%= artist.get('firstname')%> <span class="text-muted"><%= artist.get('lastname')%></span></h2>
      <p class="lead"><%= artist.get('age')%></p>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="http://i988.photobucket.com/albums/af6/arthurmagne/C99D6706-orig_zps8f3692f1.jpg" alt="Generic placeholder image">
    </div>
  </div>
</div>

  
<hr class="featurette-divider">
