<% var artist = artist.attributes.artist; %>
<div class="detail-artist">
  <div class="row featurette">
      <div class="col-md-7">
        <% var firstname = artist.name.split(" ")[0]; %>
        <% var lastname = artist.name.split(" ")[1]; %>
        <h2 class="featurette-heading"><%= firstname %> <span class="text-muted"><%= lastname %></span></h2>
        <p class="text-muted">Ville: <span class="info"><%= artist.city %></span></p>
        <p class="text-muted">Date de naissance: <span class="info"><%= artist.birthDate %></span></p>
        <p class="text-muted">Domaine: <span class="info"><%= artist.workType %></span></p>
        <p><a class="btn btn-default edit-btn" href="#/editArtist/<%= artist.id %> " role="button">Editer</a></p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive" src="http://i988.photobucket.com/albums/af6/arthurmagne/C99D6706-orig_zps8f3692f1.jpg" alt="Generic placeholder image">
      </div>
    </div>
</div>

  
<hr class="featurette-divider">
