<% var artwork = oeuvre.attributes.artwork; %>
<div class="detail-oeuvre">
  <div class="row featurette row-detail">
    <div class="col-md-5">
    <% console.log("photos : "+artwork.photos); %>
    <% var nbPhotos = 0; %>
    <% if (artwork.photos) { %>
    <% var photos = artwork.photos.split(','); %>
    <% nbPhotos = photos.length; %>
     <% for (var i = 0; i < photos.length; i++) { %>

      <a href="<%= photos[i] %>" data-lightbox="<%= artwork.id %>" title="<%= artwork.title %>"><img class="featurette-image img-responsive <%= (i>0) ? 'hide' : '' %>" src="<%= photos[i] %>" alt="Generic placeholder image"></a>
      <% } %>
    <% }else{ %>
      <a href="http://www.weblettres.net/blogs/uploads/p/plumerouge/44668.jpg" data-lightbox="<%= artwork.id %>" title="<%= artwork.title %>"><img class="featurette-image img-responsive" src="http://www.weblettres.net/blogs/uploads/p/plumerouge/44668.jpg"></a>
    <% } %>
      <p class="text-muted"><%= artwork.dimensions.x %>cm x <%= artwork.dimensions.y %>cm<% if (artwork.dimensions.z != 0) { %> x <%= artwork.dimensions.z %>cm<% } %><span class="nb-photos"><%= nbPhotos %> photo<%= (nbPhotos>1) ? 's' : '' %></span></p>
      
    
    </div>
    <div class="col-md-7">
      <% if (artwork.artists.artists) { %>
        <% var firstname = artwork.artists.artists.name.split(" ")[0]; %>
        <% var lastname = artwork.artists.artists.name.split(" ")[1]; %>
      <% } %>
      <h2 class="featurette-heading"><%= artwork.title %></h2>
      <p class="lead"><%= firstname %> <span class="text-muted"><%= lastname %></span></p>
      <p class="text-muted"><% if (artwork.technique) { %><%= artwork.technique.toLowerCase() %><% } %></p>
      <p class="lead"><%= artwork.description %></p>
      <p class="exposed"><% if (artwork.exposed) { %>Exposée<% }else{ %>Non exposée<% } %></p>
      <p class="infos"> Support: <%= artwork.support %></p>
      <p class="tags">

        <% _.each(artwork.tags.tags, function(tag, cpt) { %>
          <% if (cpt == 0) { %><span class="lead">Tags: </span><% } %><% if (cpt != 0) { %>, <% } %><%= tag %>
        <% }); %>
      </p>
      <p><a class="btn btn-default edit-btn" href="#/editArtwork/<%= artwork.id %> " role="button">Editer</a></p>
    </div>
  </div>
  <h4 class="featurette-heading">Commentaires</h4>
    <% if (artwork.comments.comments && artwork.comments.comments != 0) { %>
      <% _.each(artwork.comments.comments, function(comment, cpt) { %>
        <div class="comment-container">
          <hr>
          <span class="comment-author"><%= comment.author %></span>
          <p class="comment-content"><%= comment.content %></p>
          <p class="comment-date"><%= comment.postDate %></p>
        </div>
      <% }); %>
    <% }else{ %>
      <p class="text-muted">Aucun commentaire</p>
    <% } %>
    <hr>
    <form class="comment-form hide form-horizontal">

      <p class="text-center"><input type="text" name="name-comment" placeholder="Auteur"/></p>
      <p class="text-center"><textarea name="comment" rows="5" cols="100" placeholder="Commentaire ..."/></p>
      <p class="text-center"><button type="submit" class="btn btn-primary btn-lg submit-comment">Valider</button></p>
    </form>
  </div>
    <p class="text-center"><a class="btn btn-lg btn-primary add-comment" href="#" role="button">Ajouter un commentaire</a></p>
</div>

  
<hr class="featurette-divider">




