<div id="wrapper">
  <div class="container">
    <% if (oeuvres.length == 0) { %>
      <h2 class="text-center text-muted">Aucune oeuvre n'a été trouvée</h2>
    <% }else{ %>
     <% _.each(oeuvres, function(oeuvreModel) { %>
      <% var oeuvre = oeuvreModel.attributes.artwork %>
       <div class="block-back">
        <img class="oeuvre-img" src="<%= oeuvre.photos ? oeuvre.photos.split(',')[0] : 'http://www.weblettres.net/blogs/uploads/p/plumerouge/44668.jpg'%>"/>
          <a href="#/oeuvre/<%= oeuvre.id %>">
            <div class="block-front">
              <div class="block-info">
                <p><strong><%= oeuvre.title %></strong></p>
                <p><% if (oeuvre.artists.artists) { %><%= oeuvre.artists.artists.name %><% } %></p>
                <p><% if (oeuvre.artists.artists) { %><%= oeuvre.technique.toLowerCase() %><% } %></p>
                <p>Description: <%= oeuvre.description %></p>
              </div>
            </div>
          </a>
      </div>
    <% }); %>
    <% } %>
  </div>
</div>

<hr class="featurette-divider">
